body{
	background:#8E8B88;
	padding:.5em;
}
h1,h2,h3 {clear:both;}
#page{

}
#entete{}
#entete h1 {margin-bottom:0; color:white; font-size:100%; margin-top:.5em;}

#conteneur{
	padding:.5em;
	border:1px solid #EFEDD9;
	-moz-border-radius:10px;
	background:#E4E1C4;
	overflow:auto;
}

#contenu{
	float:left;
	margin:0 auto;
}

#plateau {
	border:2px solid #B59E84;
	-moz-border-radius:15px;
	background:#F7F9E1;
	padding:10px;
	margin:10px;
}
#hexa{
	line-height:0;
	margin:0; padding:0;
}
#hexa .terrain {
	padding:0; margin:0;
	background:transparent no-repeat top left;
	float:left;
}
#hexa .pair, #hexa .impair {clear:both;}

#hexa.taille_48 .terrain {width:48px; height:48px; background-image:url(../img/48/terrains/grey.png);}
#hexa.taille_32 .terrain {width:32px; height:32px; background-image:url(../img/32/terrains/grey.png);}
#hexa.taille_24 .terrain {width:24px; height:24px; background-image:url(../img/24/terrains/grey.png);}

#hexa .survol,
#hexa .construction {
	padding:0; margin:0;
	background:transparent no-repeat top left;
	height:100%;
	width:100%;
}
#hexa.taille_48 .terrain:hover 	.survol {background-image:url(../img/48/terrains/survol.png);}
#hexa.taille_48 .terrain.on 	.survol {background-image:url(../img/48/terrains/survol.png);}
#hexa.taille_32 .terrain:hover 	.survol {background-image:url(../img/32/terrains/survol.png);}
#hexa.taille_32 .terrain.on 	.survol {background-image:url(../img/32/terrains/survol.png);}
#hexa.taille_24 .terrain:hover 	.survol {background-image:url(../img/24/terrains/survol.png);}
#hexa.taille_24 .terrain.on 	.survol {background-image:url(../img/24/terrains/survol.png);}



#navigation{ margin-top:.5em; float:right; width:390px; font-size:80%;}
#navigation .element {float:left; text-align:center;}
#navigation .element + .element {padding-left:4px;}
#navigation .element label {display:block;}
#navigation .activation {margin-bottom:.5em; display:block;}



#pied{clear:both;}
.invisible {display:none;}
